<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>CUISINES</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-question fa-3x"></i>
                            <br> <span>American</span>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/burger02.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-question fa-3x"></i>
                            <br> <span>Italian</span>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/italian02.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-question fa-3x"></i>
                            <br> <span>Korean</span>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/korean02.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-question fa-3x"></i>
                            <br> <span>Japanese</span>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/jap02.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-question fa-3x"></i>
                            <br> <span>Chinese</span>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/chinese02.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-question fa-3x"></i>
                            <br> <span>Indian</span>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/indian02.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-question fa-3x"></i>
                            <br> <span>Mexican</span>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/mexican02.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-question fa-3x"></i>
                            <br> <span>Brunch</span>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/brunch.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
        </div>
    </div>
</section>
